/* 1. Importamos la fuente (Inter) con sus pesos más usados */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@import "tailwindcss";

/* AQUÍ ESTÁ LA MAGIA DE TAILWIND v4 */
@theme {
  /* --- TU TIPOGRAFÍA GLOBAL --- */
  /* Sobrescribimos la fuente sans por defecto de Tailwind */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  /* 1. Colores Corporativos Base */
  --color-primary: #367933;
  --color-primary-hover: #2d652a;
  --color-primary-dark: #006633;

  --color-secondary: #062e3a;

  --color-accent: #b1cb0c;
  --color-accent-light: #bed000;

  --color-neutral: #342c1e;
  --color-neutral-dark: #342c1e;

  --color-destructive: #ef4444;
  --color-destructive-hover: #ef4444;
  --color-destructive-dark: #ef4444;

  /* Fondos Clean SaaS */
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  /* 2. Gradientes Corporativos */
  --background-image-gradient-nutri-light: linear-gradient(to right, #bed000, #85ac1c);
  --background-image-gradient-nutri-dark: linear-gradient(to right, #006633, #68b54e);

  /* 3. Animaciones de la App */
  --animate-fade-in: fadeIn 0.3s ease-out;
  /* Animaciones para el Accordion */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

/* --- ESTILOS BASE GLOBALES --- */
@layer base {
  body {
    /* Esto es CLAVE para el look "shadcn". Hace que la fuente se renderice más fina y definida */
    @apply antialiased bg-background text-neutral;
  }
}