@import "tailwindcss";

/* AQUÍ ESTÁ LA MAGIA DE TAILWIND v4 
  Mapeamos tu branding directamente en CSS
*/
@theme {
  /* 1. Colores Corporativos Base */
  --color-primary: #367933;
  --color-primary-hover: #2d652a;
  --color-primary-dark: #006633;

  --color-secondary: #062e3a;

  --color-accent: #b1cb0c;
  --color-accent-light: #bed000;

  --color-neutral: #342c1e;
  --color-neutral-dark: #342c1e;

  /* Fondos Clean SaaS */
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  /* 2. Gradientes Corporativos */
  --background-image-gradient-nutri-light: linear-gradient(
    to right,
    #bed000,
    #85ac1c
  );
  --background-image-gradient-nutri-dark: linear-gradient(
    to right,
    #006633,
    #68b54e
  );

  /* 3. Animaciones de la App */
  --animate-fade-in: fadeIn 0.3s ease-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
